
:root{
    --background-color: #d4d4d8;
    --board-color: #52525b;
    --space-color:#27272a;
    --mark-color: #e4e4e7;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    
}
/* Player button styling */
.players {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.players button, .reset{
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border-style: inset;
}

.players button:hover, .reset:hover{
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--space-color);
    box-shadow: 0 0 8px 8px var(--mark-color);
}

.reset-con{
    display: flex;
    justify-content: center;
}

.reset {
    margin-top: 1rem;
}

/* Board Set Up and Styling */

.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-items: center;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
    height: clamp(100px, 50%, 1000px);
    width: clamp(100px, calc(height), 1000px);

   
}

.space {
    display: flex;
    background-color: black;
    color: #e4e4e7;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    height: 85%;
    width: 85%;
}

.space:hover {
    cursor: pointer;
    border-color: #e4e4e7;
    border-style: inset;
}

.win-contain {
    display: flex;
    justify-content: center;
}

.win-message {
    text-align: center;
    color: var(--space-color);
    font-size: 48px;
    margin-top: 2rem;
    padding: 1rem;
    /* box-shadow: 0 0 8px 8px var(--mark-color); */
    box-shadow: inset 0 0 8px 8px var(--mark-color);
}


